* {
    margin: 0;
    padding: 0;
}

.image {
    width: 514px;
    height: 514px;
    background-color: #f1cdd7;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.superiorform {
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.formulario {
    display: flex;
    flex-direction: column;
}    

.acceder {
    background-color: #1a73e8;
    border: none;
}

.acceder:hover{
    cursor: pointer;
}

.buttons {
    display: flex;
}

.login {
    display: flex;
    flex-direction: column;
}

.login {
    display: block;
}