*{
    margin: 0;
    padding: 0;
}
.image{
    width: 514px;
    height: 757px;
    background-color: #f2d184;
}

.principal{
    display: flex;
    
}

.login{
    display: flex;
    flex-direction: column;
}

.login{
    display: block;
}

